body {
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
}

h1 {
    font-size: 28px;
    margin: 20px;
}

p {
    border: 1px solid rgb(5, 5, 5);
    padding: 25px;
    margin: 30px auto;
    width: 50%;
    font-size: 18px;
}